<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %logger{0} - %msg%n%rEx</pattern>
		</encoder>
	</appender>

	<logger name="com.workshare.supernova" level="DEBUG"/>

	<logger name="org.apache.http" level="INFO"/>
	<logger name="org.apache.http.wire" level="DEBUG"/>
	<logger name="org.skife.jdbi" level="TRACE"/>

	<!-- Avoid periodic messages about "no need to flush yadda yadda yadda" -->
	<logger name="com.workshare.supernova.api.groups.persistence" level="INFO"/>
	<logger name="com.workshare.supernova.api.mixpanel.Mixpanel" level="INFO"/>

<!--
	<logger name="com.workshare.supernova.persistence.WriteBehindDao" level="INFO"/>
-->

	<root level="TRACE">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
