<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5level %logger{0} - %msg%n%rEx</pattern>
		</encoder>
	</appender>

	<logger name="org.skife.jdbi" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
